@page "/updatecategory/{CategoryId}"
@using Book.Blazor.IServices

<div class="mb-5">
    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ExitToApp" Color="Color.Primary" OnClick="Back">Back</MudButton>
</div>

<h3>Category Update Page</h3>

@using System.ComponentModel.DataAnnotations

<EditForm Model="@request" OnValidSubmit="Update"> 
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Category Name"
                                  @bind-Value="request.CategoryName"/>
                    <MudTextField Label="Status"
                                  @bind-Value="request.Status" />                   
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Update</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        
    </MudGrid>
</EditForm>
